svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
      background-color: #081f28;
      color: #708284;
      font-family: 'Helvetica Neue';
      font-size: 12px;
    }

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

#heading {
      height: 100px;
}

#graphic {
      margin : 50px;
      float: left;
}

#question-list-container{
  height: 300px;
  overflow: auto;
}

#editable {
  float:right;
  width: 400px;
  height: 200px;
  overflow: auto;
}

/*#pup {
  position:absolute;
  z-index:200;
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 600px;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}*/

.pup {
  height: 300px;
  overflow: auto;
}